header{
	background: #2196F3;
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.panel .menu{
	position: fixed;
	top: 80px;
}
.panel .menu li{
	list-style: none;
}
.panel .menu li a{
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
}

.main{
	border-left: solid;
	border-width: 1px;
	margin-top: 80px;
	padding-bottom: 30px;
}

.img-reponsive{
	width: 100%;
}
.img-limit{
	max-width: 100px;
}

.imgFast{
	max-width: 30px;
	display: none;
}